.Container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 80px;
  padding-right: 80px;
}
 
.App-header{
  width: 42%;
  margin-top: 80px;
}

.header{
  font-family: 'Poppins700';
  font-size: 55px;

}

.text{
  font-family: 'Poppins400';
  font-size: 20px;
}

.font-400{
  font-family: 'Poppins400';
}

.bold{
  font-family: 'Poppins700';
  font-size: 16px;
}

.text-indent{
  text-indent: 15px;
}

.font-600{
  font-family: 'Poppins600';
  font-size: 12px;
}

.font-500{
  font-family: 'Poppins500';
  font-size: 13px;
}

.Notice{
  font-family: 'Poppins400';
  font-size: 16px;
}

.iconerror{
  left: 92%;
}

@media (max-width: 50em){
  .Container{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
   
  }
  .App-header{
    width: 20em;
    margin-top: 50px;
  }
  .header{
    font-size: 35px;
    text-align: center;
  }
  .text{
    text-align: center;
    font-size: 15px;
  }
  .font-400{
    height: 5em;
    
  }
  .iconerror{
    left: 90%;
  }
}